#editPlayerForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 3rem auto;
}

#editPlayerForm h2 {
  text-align: center;
  text-transform: uppercase;
}

#editPlayerForm .actions {
  display: flex;
  justify-content: center;
}

#editPlayerForm button {
  margin: 0.5rem 1rem;
  width: 40%;
}

#mainContainer {
  background-image: url("/assets/—Pngtree—creative\ chess\ scene_1321956.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 0 !important;
}

label {
  color: white;
}

#h2EditPlayer {
  color: white !important;
}
